{# Selector de rubros para artículos: despliega artrcodi y artrdesc, permite seleccionar con click #}
<table class="selector-table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
    {% for rubro in rubros %}
        <tr class="selector-row" tabindex="0" style="cursor:pointer;"
            onclick="document.getElementById('artrcodi').value='{{ rubro.artrcodi }}'; this.closest('#artr_selector').innerHTML='';">
            <td>{{ rubro.artrcodi }}</td>
            <td>{{ rubro.artrdesc }}</td>
        </tr>
    {% else %}
        <tr><td colspan="2">No se encontraron rubros</td></tr>
    {% endfor %}
    </tbody>
</table>
