{% extends "master_detail_base.html" %}

{% block list_title %}Rubros{% endblock %}
{% block route_new %}/rubros/new{% endblock %}
{% block route_list %}/rubros/list{% endblock %}

{% block grid_content %}
{# Grilla genérica: requiere items, code_field, label_field, code_label, label_column, detail_url_base, route_list #}
{% set items = rubros %}
{% set code_field = 'artrcodi' %}
{% set label_field = 'artrdesc' %}
{% set code_label = 'Código' %}
{% set label_column = 'Descripción' %}
{% set detail_url_base = '/rubros/detail' %}
{% set route_list = '/rubros/list' %}
{% include "partials/master_detail_entity_grid.html" %}
{% endblock %}
